body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box0{
    width: 800px;
    align-items: center;
}


.box{
    position: relative;
    width: 400px;
    height: 100%;
    right: -200px;

}

.todo-box{
    justify-content: center;
}


#todo-form>input{
    width: 350px;
    right: -20px;
}

#todo-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
    height: 100px;
    width: 400px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-underline-offset: red;
}

.info{

    position: relative;
    top: -30px;
    opacity: .7;
}

#clock{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 100px;
}

#greeting{
    display: flex;
    justify-content: center;
    font-size: 50px;

    font-weight: 600;
}

.wide-box{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.quote{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 700px;
    background-color: white;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    right: 130px;
    bottom: -80px;
    opacity: .5;
}

.quote>div>span{
    display: block;

}

#weather{
    background-color: white;
    height: 30px;
    width: 160px;
    position: absolute;
    right: 0;
    top: 0;
}