.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}


.info{
    position: relative;
}

#clock{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 100px;
}

#greeting{
    display: flex;
    justify-content: center;
    font-size: 70px;

    font-weight: 600;
}

